<!DOCTYPE html>
<html>
<style type="text/css">
    body {
        width: 1000px;
    }

    #reportform tr td:nth-child(1) {
        text-align: center;
    }

    #reportform tr td:nth-child(2) {
        text-align: right;
    }

    #reportform tr td:nth-child(3) {
        text-align: right;
    }

    #reportform tr td:nth-child(4) {
        text-align: right;
    }

    #reportform tr td:nth-child(5) {
        text-align: right;
    }

    #reportform tr td:nth-child(6) {
        text-align: right;
    }
</style>
<head>
    <meta charset="UTF-8"/>
    <title>催员报表</title>
</head>
<link href="style_pages.css" rel="stylesheet" type="text/css"/>

<body>
<div class="div_panel">
    <div class="div_lt"></div>
    <fieldset>
        <legend>催员报表</legend>
        <table id="reportform" width="80%" class="tableb2" border="1">
            <tr>
                <th width="14%">姓名</th>
                <th width="14%">坐席号</th>
                <th width="14%">分机号</th>
                <th width="14%">在线时长</th>
                <th width="14%">接通数</th>
                <th width="14%">通话时长（分钟）</th>
                <th width="20%">平均通话时长（分钟）</th>
            </tr>
            <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].user_name %></td>
                <td><%= data[i].user_id %></td>
                <td><%= data[i].user_ext_number %></td>
                <td><%= data[i].login_duration %></td>
                <td><%= data[i].phone_count %></td>
                <td><%= data[i].phone_duration %></td>
                <td><%= data[i].phone_count == 0 ? 0 : (data[i].phone_duration / data[i].phone_count).toFixed(2) %></td>
            </tr>
            <% } %>
        </table>
    </fieldset>
</body>
</html>
